<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="navbar-nav flex-column nav-pills">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/users" routerLinkActive="active">users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/category" routerLinkActive="active">category</a>
                </li>
              </ul>
        </div> 
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>











<!-- <data-table></data-table> --> 
<!-- <app-parent></app-parent>  -->

<!-- <rxjs-learning></rxjs-learning>  -->
<!-- <app-rxjs3></app-rxjs3> -->

<!-- <list-users></list-users> -->
<!-- 
<app-parent2></app-parent2> --> 
<!-- <app-rxjs2></app-rxjs2>  -->
<!-- <app-buffer></app-buffer> -->
<!-- <app-buffercount></app-buffercount> --> 
<!-- <app-switch-map></app-switch-map> --> 
<!-- <app-subjects></app-subjects> -->    
<!-- 
<app-subject2></app-subject2> --> 

